<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Consultation Page</title>
  <link rel="stylesheet" href="/css/index-style.css">
  <link rel="stylesheet" href="/css/add-consultation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/b68b4fe106.js" crossorigin="anonymous"></script>
  <style>
    .scrollable-container {
      max-height: 150px;
      overflow-y: auto;
    }

    .scrollable-container textarea {
      resize: none;
    }

    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
</head>

<body>
  <div class="fixed">
    <!-- HEADER PARTIAL -->
    <!-- <%- include('../partials/header') %> -->
    <!-- END HEADER PARTIAL -->
  </div>

  <div class="content">
    <h1>EDIT CONSULTATION</h1>

    <div class="container clearfix">

      <form action="/patient/<%=patientId%>/editConsultation/<%=currConsult._id%>?_method=patch" method="post">
        <div class="today">
          <label for="date">Date: </label>
          <input id="today" type="date" name="date">
          <script>
            var field = document.querySelector('#today');
            var date = new Date();
            // Set the date
            field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) +
              '-' + date.getDate().toString().padStart(2, 0)
          </script>
        </div>
        <div class="consultation-details">


          <div class="input-box">
            <span class="details">Subjective Findings</span>
            <div class="scrollable-container">
              <% for(let finding of currConsult.subjective) {%>
              <textarea id="subjective" name="subjective" cols="30" rows="10" class="subjective"
                required><%=finding%></textarea>
              <% } %>
              <div id="subjCont"></div>
            </div>
            <div class="plan">
              <button id="subjBtn" class="btn" type="button" id="plus"><i class="fa-solid fa-circle-plus"></i></button>
              <button id="subjMinus" class="btn" type="button"><i class="fa-solid fa-circle-minus"></i></button>
            </div>

          </div>

          <div class="input-box">
            <span class="details">Assessment</span>
            <div class="scrollable-container">
              <% for(let finding of currConsult.assessment) {%>
              <textarea id="assessment" name="assessment" cols="30" rows="10" class="assessment"
                required><%=finding%></textarea>
              <% } %>
              <div id="assessCont"></div>
            </div>
            <div class="plan">
              <button id="assessBtn" class="btn" type="button" id="plus"><i class="fa-solid fa-circle-plus"></i></button>
              <button id="assessMinus" class="btn" type="button"><i class="fa-solid fa-circle-minus"></i></button>
            </div>

          </div>

          <div class="input-box">
            <span class="details">Objective Findings</span>
            <div class="scrollable-container">
              <% for(let finding of currConsult.objective) {%>
              <textarea id="objective" name="objective" cols="30" rows="10" class="objective"
                required><%=finding%></textarea>
              <% } %>
              <div id="objCont"></div>
            </div>
            <div class="plan">
              <button id="objBtn" class="btn" type="button" id="plus"><i class="fa-solid fa-circle-plus"></i></button>
              <button id="objMinus" class="btn" type="button"><i class="fa-solid fa-circle-minus"></i></button>
            </div>

          </div>

          <div class="input-box">
            <span class="details">Plan</span>
            <div class="scrollable-container">
              <% for(let finding of currConsult.plan) {%>
              <select id="opt" name="category">
                <option value="<%=finding.category%>" selected hidden>
                  <%=finding.category%>
                </option>
                <option value="Medications">Medications</option>
                <option value="Laboratory">Lab</option>
                <option value="Others">Others</option>
              </select>
              <textarea id="plan" name="plandescription" class="planText" required><%=finding.description%></textarea>
              <% } %>
              <div id="planCont"></div>
            </div>
            <div class="plan">
              <button id="planBtn" class="btn" type="button" id="plus"><i class="fa-solid fa-circle-plus"></i></button>
              <button id="planMinus" class="btn" type="button"><i class="fa-solid fa-circle-minus"></i></button>
            </div>

          </div>

        </div>
        <div class="button">
          <input type="submit" id="sub1" value="SAVE">
        </div>
      </form>

      <form action="/patient/<%=patientId%>">
        <div class="button">
          <input type="submit" id="sub2" value="CANCEL">
        </div>
      </form>

    </div>


  </div>
</body>

<script src="/js/editConsult.js"></script>

</html>
