<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="/css/add-patient.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b68b4fe106.js" crossorigin="anonymous"></script>
    <style>
        .scrollable-section {
            height: 150px; /* Adjust the height as per your requirements */
            overflow-y: auto;
        }
    </style>
</head>

<body>

    <!-- Formatting Birthdate -->
    <%var dateString=patient.birthday;%>
        <%dateString=new Date(dateString).toLocaleDateString('fil-PH');%>

            <div class="container">
                <div class="title">Edit Patient</div>
                <form action="/patient/modify/<%= patient._id %>" method="post" id="editPatientPage">
                    <div class="user-details">

                        <!-- NEW FT : FULL NAME -->
                        <div class="input-box1">
                            <span class="details">Last Name</span>
                            <input type="text" value="<%= patient.lastName %>" name="lastName" autocomplete="off"
                                required>
                        </div>

                        <div class="input-box1">
                            <span class="details">First Name</span>
                            <input type="text" value="<%= patient.firstName %>" name="firstName" autocomplete="off"
                                required>
                        </div>

                        <div class="input-box1">
                            <span class="details">Middle Name</span>
                            <input type="text" value="<%= patient.middleName %>" name="middleName" autocomplete="off"
                                required>
                        </div>

                        <div class="input-box">
                            <label for="gender" class="details">Sex</label>
                            <select name="gender" id="opt">
                                <option value="<%= patient.gender %>" selected disabled hidden>
                                    <%= patient.gender %>
                                </option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                        </div>

                        <!-- NEW FT : BLOODTYPE -->
                        <div class="input-box">
                            <label for="bloodType" class="details">Blood Type</label>
                            <select name="bloodType">
                                <option value="<%= patient.bloodType %>" selected disabled hidden>
                                    <%= patient.bloodType %>
                                </option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <span class="details">Address</span>
                            <input type="text" value="<%= patient.address %>" name="address" autocomplete="off"
                                required>
                        </div>

                        <div class="input-box">
                            <span class="details">Contact Details</span>
                            <input type="text" value="<%= patient.contactNumber %>" id="contactNumber"
                                name="contactNumber" autocomplete="off" required minlength="11" maxlength="11">
                            <span id="error"></span>
                        </div>

                        <div class="input-box">
                            <span class="details">Birthday</span>
                            <input type="text" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"
                                value="<%=dateString%>" name="birthday" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Occupation</span>
                            <input type="text" value="<%= patient.occupation %>" name="occupation" autocomplete="off"
                                required>
                        </div>

                        <div class="input-box2">
                            <span class="details">Referred by</span>
                            <input type="text" value="<%= patient.referral %>" name="referral" autocomplete="off"
                                required>
                        </div>

                        <!-- NEW FT : MEDICAL HISTORY -->
                        <div class="input-box2">
                            <span class="details">Medical History</span>
                            <br>
                            <div class = "scrollable-section"> <!-- Added "scrollable-section" class here -->
                                <!-- ADD LOOP HERE -->
                                <% for (let finding of medicalHistory) { %>
                                    <input type="text" id="medicalHistory" name="medicalHistory" class="medicalHistory" value="<%= finding %>" required>
                                <% } %>                                                                                     
                                <div id="medHisCont"></div>
                            </div>
                            <div class="plan">
                                <button id="medHisBtn" class="btn" type="button" id="plus"><i
                                        class="fa-solid fa-circle-plus"></i></button>
                                <button id="medHisMinus" class="btn" type="button"><i
                                        class="fa-solid fa-circle-minus"></i></button>
                            </div>
                        </div>

                    </div>

                    <div class="button">
                        <input type="submit" id="sub1" value="SAVE">
                        <input type="button" id="sub2" value="CANCEL" onclick="history.back()">
                    </div>

                </form>

            </div>

</body>

<script src="/js/editPatient.js"></script>

</html>