<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!--CHANGE TO NAME VARIABLE-->
    <title>
        <%= patient.lastName %>, <%= patient.firstName %>, <%= patient.middleName.charAt(0)%>
    </title>
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/patient.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b68b4fe106.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b68b4fe106.js" crossorigin="anonymous"></script>
    <!--ADD JS CODE HERE-->
    <script type="text/javascript" src=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <style>
        .above-option {
            background-color: white;
            color: black;
            border: 2px solid #192039;
            font-family: 'Rubik', sans-serif;
        }
    </style>
</head>

<body>
    <div class="fixed">
        <!-- HEADER PARTIAL -->
        <%- include('../partials/header') %>
            <!-- END HEADER PARTIAL -->
    </div>

    <!-- Formatting Birthdate -->
    <%var dateString=patient.birthday;%>
        <%dateString=new Date(dateString).toLocaleDateString();%>

            <!-- Calculating Age -->
            <%const now=new Date();%>
                <%const diff=Math.abs(now - patient.birthday );%>
                    <%const age=Math.floor(diff / (1000 * 60 * 60 * 24 * 365)); %>

                        <div id="page">
                            <div id="info">
                                <!--lastName, firstName middleName(just the initial).-->
                                <h3>
                                    <%= patient.lastName %>, <%= patient.firstName %>
                                            <%= patient.middleName.charAt(0) %>.
                                                <div class="edit">
                                                    <button onclick="demoFunction()" class="editdemo burger">
                                                        <i class="fa fa-bars"></i>
                                                    </button>
                                                    <div id="demoDrop" class="demo-content"
                                                        onmouseleave="demoFunction()">
                                                        <button class="above-option"
                                                            onclick="window.location.href='/patient/edit/<%= patient._id %>'">
                                                            Edit Info
                                                        </button>
                                                        <!-- <a href="#about">Minimize Info</a> -->
                                                        <button class="above-option"
                                                            onclick="window.location.href='/patient/delete/<%= patient._id %>'">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                </h3>
                                <div id="demographic">
                                    <div class="demo graphic">
                                        <div class="demo">
                                            <b>Age:<br>Gender:<br>Occupation:<br>Referred
                                                by:</b>
                                        </div>
                                        <div class="demo">
                                            <!--REPLACE WITH VARIABLES-->
                                            <%= age %><br>
                                                <%= patient.gender %><br>
                                                    <%= patient.occupation %><br>
                                                        <%= patient.referral %>
                                        </div>
                                    </div>
                                    <div class="demo">
                                        <div class="demo space">
                                            <b>Birthday:<br>Contact:<br>Address:</b>
                                        </div>
                                        <div class="demo">
                                            <!--REPLACE WITH VARIABLES-->
                                            <%= dateString %><br>
                                                <%= patient.contactNumber %><br>
                                                    <%= patient.address %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="consultation">
                            <h3 class="consult-title">
                                CONSULTATIONS
                            </h3>
                        </div>
                        <!--JS CODE to generate consultation instances-->
                        <% for (let currentConsult of consultations) { %>
                            <div id="consultation">
                                <div class="consult-instance">
                                    <div class="date">
                                        <!--REPLACE WITH VARIABLES-->
                                        <%= currentConsult.formatDate(currentConsult.date)%>
                                            <div class="edit">
                                                <!-- <button onclick="consultFunction()" class="editconsult burger">
                                                                                <i class="fa fa-bars"></i> 
                                                                            </button> -->
                                                <!-- <div id="consultDrop" onmouseleave="consultFunction()" class="consult-content"> -->
                                                <button class="above-option"
                                                    onclick="window.location.href='/patient/<%= patient._id %>/editConsultation/<%= currentConsult._id %>'">
                                                    Edit Info
                                                </button>
                                                <button class="above-option"
                                                    onclick="window.location.href='/patient/<%= patient._id %>/deleteConsultation/<%= currentConsult._id %>'">
                                                    Delete
                                                </button>
                                                <!-- </div> -->
                                            </div>
                                            <!-- TRIAL -->
                                            <!-- <div class="edit">
                                                                            <button onclick="demoFunction()" class="editdemo burger">
                                                                                <i class="fa fa-bars"></i>
                                                                            </button>
                                                                            <div id="demoDrop" class="demo-content">
                                                                                <button class="above-option"
                                                                                    onclick="window.location.href='/patient/edit/<%= patient._id %>'">
                                                                                    Edit Info
                                                                                </button>
                                                                                <button class="above-option"
                                                                                    onclick="window.location.href='/patient/delete/<%= patient._id %>'">
                                                                                    Delete
                                                                                </button>
                                                                            </div>
                                                                        </div> -->




                                    </div>
                                    <div class="consultation">
                                        <div>
                                            <div class="split">
                                                <div class="title">
                                                    Subjective Findings
                                                </div>
                                                <ul class="list">
                                                    <!--REPLACE WITH VARIABLES-->
                                                    <% if(currentConsult) { %>
                                                        <% for(let i=0; i < currentConsult.subjective.length; i++) { %>
                                                            <% if(currentConsult.subjective[i] !="" ) {%>
                                                                <li>
                                                                    <%= currentConsult.subjective[i] %>
                                                                </li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                                                </ul>
                                                <div class="title">
                                                    Objective Findings
                                                </div>
                                                <ul class="list">
                                                    <!--REPLACE WITH VARIABLES-->
                                                    <% if(currentConsult) { %>
                                                        <% for(let i=0; i < currentConsult.objective.length; i++) { %>
                                                            <% if(currentConsult.objective[i] !="" ) {%>
                                                                <li>
                                                                    <%= currentConsult.objective[i] %>
                                                                </li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>

                                                                            <% for(let file of currentConsult.file) {%>
                                                                                <li id="fileDiv">
                                                                                    <button class="file">
                                                                                        <a href="/<%=file.name %>"
                                                                                            class="files__link">
                                                                                            <i
                                                                                                class="fa fa-file-text-o"></i>
                                                                                            <span class="files__date">
                                                                                                <%=file.title%>
                                                                                            </span>
                                                                                            <i class="fa fa-eye tests__icon"
                                                                                                aria-hidden="true"></i>
                                                                                        </a>
                                                                                    </button>


                                                                                    <button class="file" id="deleteFile"
                                                                                        type="button"
                                                                                        onclick="showConfirmBox('<%= currentConsult._id %>', '<%= file._id %>')">

                                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                            width="16" height="16"
                                                                                            fill="currentColor"
                                                                                            class="bi bi-trash"
                                                                                            viewBox="0 0 16 16">
                                                                                            <path
                                                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                                            <path fill-rule="evenodd"
                                                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                                                        </svg>
                                                                                    </button>
                                                                                    <form
                                                                                        action="/delete_file/<%= currentConsult._id %>/<%= file._id %>?_method=delete"
                                                                                        style="display: inline;"
                                                                                        method="post">
                                                                                        <div class="overlay"
                                                                                            id="overlay" hidden>

                                                                                            <div class="confirm-box">
                                                                                                <div onclick="closeConfirmBox()"
                                                                                                    class="close">
                                                                                                    &#10006;
                                                                                                </div>
                                                                                                <br>

                                                                                                <h2>CONFIRMATION</h2>

                                                                                                <p>Delete the uploaded
                                                                                                    file?</p>
                                                                                                <button
                                                                                                    id="yes">Yes</button>
                                                                                                <button type="button"
                                                                                                    id="unconfirm">No</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>

                                                                                </li>
                                                                                <% } %>
                                                </ul>
                                            </div>
                                            <div class="split">
                                                <div class="title">
                                                    Assessment
                                                </div>
                                                <ul class="list">
                                                    <!--REPLACE WITH VARIABLES-->
                                                    <% if(currentConsult) { %>
                                                        <% for(let i=0; i < currentConsult.assessment.length; i++) { %>
                                                            <% if(currentConsult.assessment[i] !="" ) {%>
                                                                <li>
                                                                    <%= currentConsult.assessment[i] %>
                                                                </li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                                                </ul>
                                                <div class="title">
                                                    Plan
                                                </div>
                                                <ul class="list">
                                                    <li style="font-weight: bold;">
                                                        Labs
                                                        <% if(currentConsult) { %>
                                                            <% for(let i=0; i < currentConsult.plan.length; i++) { %>

                                                                <% if (currentConsult.plan[i].category=="Laboratory" )
                                                                    {%>
                                                    <li class="circle">
                                                        <%= currentConsult.plan[i].description %>
                                                    </li>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                                                                </li>

                                                                <% if(currentConsult) { %>
                                                                    <li style="font-weight: bold;">
                                                                        Meds
                                                                        <% for(let i=0; i < currentConsult.plan.length;
                                                                            i++) { %>

                                                                            <% if
                                                                                (currentConsult.plan[i].category=="Medications"
                                                                                ) {%>
                                                                    <li class="circle">
                                                                        <%= currentConsult.plan[i].description %>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% } %>
                                                                                </li>
                                                                                <% if(currentConsult) { %>
                                                                                    <li style="font-weight: bold;">
                                                                                        Others
                                                                                        <% for(let i=0; i <
                                                                                            currentConsult.plan.length;
                                                                                            i++) { %>

                                                                                            <% if
                                                                                                (currentConsult.plan[i].category=="Others"
                                                                                                ) {%>
                                                                                    <li class="circle">
                                                                                        <%= currentConsult.plan[i].description
                                                                                            %>
                                                                                    </li>
                                                                                    <% } %>
                                                                                        <% } %>
                                                                                            <% } %>
                                                                                                </li>
                                                </ul>
                                            </div>

                                            <!-- Upload File -->
                                            <form
                                                action="/patient/<%= currentConsult.patientID %>/newFile/<%= currentConsult._id %>"
                                                enctype="multipart/form-data" method="POST">
                                                <input type="text" name="title" id="title" placeholder="Name of File"
                                                    required>
                                                <input type="file" id="myFile" name="myFile" required hidden>
                                                <label for="myFile" id="ltitle"><i class="fa-solid fa-upload"></i>
                                                    Upload File</label> <br>
                                                <input id="sub" class="admin__submit above-option" type="submit" />
                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>


                            <!-- <form
            action="/patient/<%= patient._id %>/editConsultation/<%= currentConsult._id %>">
            <div id="button">
                <button type="submit" class="square">
                    <div class="left"><i class="fa fa-plus"></i>
                    </div>
                    <div class="right">edit</div>
                </button>
            </div>
        </form> -->

                            </div>
                            <% } %>
                                <form action="/patient/<%= patient._id %>/newConsultation">
                                    <div id="button">
                                        <button type="submit" class="square">
                                            <div class="left"><i class="fa fa-plus"></i>
                                            </div>
                                            <div class="right">Consultation</div>
                                        </button>
                                    </div>
                                </form>

                                <!-- JS Script -->
                                <script type="text/javascript" src="/js/home.js"></script>
                                <!--JS SCRIPT FOR DROPDOWN-->
                                <script>
                                    /* When the user clicks on the button, 
                                    toggle between hiding and showing the dropdown content */
                                    function demoFunction() {
                                        document.getElementById("demoDrop").classList.toggle("show");
                                    }

                                    // Close the dropdown if the user clicks outside of it
                                    // window.onclick = function (event) {
                                    //     if (!event.target.matches('.editdemo')) {
                                    //         var dropdowns = document.getElementsByClassName("demo-content");
                                    //         var i;
                                    //         for (i = 0; i < dropdowns.length; i++) {
                                    //             var openDropdown = dropdowns[i];
                                    //             if (openDropdown.classList.contains('show')) {
                                    //                 openDropdown.classList.remove('show');
                                    //             }
                                    //         }
                                    //     }
                                    // }

                                    function consultFunction() {
                                        document.getElementById("consultDrop").classList.toggle("show");
                                    }

                                                                // Close the dropdown if the user clicks outside of it
                                                                // window.onclick = function (event) {
                                                                //     if (!event.target.matches('.editconsult')) {
                                                                //         var dropdowns = document.getElementsByClassName("consult-content");
                                                                //         var i;
                                                                //         for (i = 0; i < dropdowns.length; i++) {
                                                                //             var openDropdown = dropdowns[i];
                                                                //             if (openDropdown.classList.contains('show')) {
                                                                //                 openDropdown.classList.remove('show');
                                                                //             }
                                                                //         }
                                                                //     }
                                                                // }
                                </script>
</body>

<script src="/js/patientRecord.js"></script>


</html>